# Dependencies
node_modules/

# Environment variables
.env

# Logs
logs
*.log
npm-debug.log*

# Temporary files
temp/
tmp/

# OS files
.DS_Store
Thumbs.db

# Build files
dist/
build/

# Coverage
coverage/

# IDE files
.vscode/
.idea/

# Package lock
# package-lock.json